.source {
  position: relative;

  .swiper-wap {
    position: relative;
    height: 400px;

    swiper {
      height: 100%;
    }
  }

  .swiper-image {
    width: 100%;
    height: 400px;
  }

  .swiper-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    line-height: 0;

    .swiper-dot {
      display: inline-block;
      margin: 0 8px;
      width: 15px;
      height: 15px;
      background: #bababa;
      -webkit-transition: background .5s;
      transition: background .5s;
      border-radius: 100%;

      &.swiper-active {
        background: #fff;
      }
    }
  }

  .empty-padding {
    height: 12px;
    background-color: #F8F8FB;

    &.ep-small {
      height: 5px;
    }
  }

  .souce-image {
    width: 100%;
    z-index: 1;
  }

  .source-pan {
    position: absolute;
    width: 650px;
    margin: -80px auto 10px;
    padding: 30px 20px;
    z-index: 101;
    border-radius: 8px;
    left: 50%;
    top: 440px;
    overflow: hidden;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 2px 0 20px 3px rgba(0, 0, 0, 0.08);

    .sp-title {
      color: #333;
      font-size: 26px;
      font-weight: bold;
    }

    .sp-content {
      margin: 10px 0 30px;
      font-size: 26px;
      color: #666;
      line-height: 42px;
    }
  }

  .content-title {
    padding: 30px 40px;
    font-size: 28px;
    color: #333;
    margin-top: 200px;

    .ct-word2 {
      font-size: 26px;
      color: #999;
      margin-top: 10px;
    }
  }

  .sl-item {
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    margin: 30px 0;

    &:first-of-type {
      margin-top: 0;
    }

    .sli-ave {
      float: left;
      width: 220px;
      height: 180px;
    }

    .sli-title {
      font-size: 30px;
      font-weight: bold;
      color: #333;
      margin-left: 220px+20px;
    }

    .sli-tips {
      font-size: 24px;
      color: #999;
      margin: 12px 0 0 220px+20px;

      .slit-word {
        padding: 2px 12px;
        background-color: #D6E9FC;
        color: #3091f2;
        margin-right: 10px;
        border-radius: 8px;
      }
    }

    .sli-desc {
      position: absolute;
      left: 220px+20px+40px;
      bottom: 0;
      font-size: 24px;
      color: #666;
      line-height: 30px;
    }
  }

  .wantOccu {
    text-align: center;
    margin: 80px auto 100px;
    font-size: 26px;
    color: #999;
  }

}
