.demo {
  .bottom-block {
    margin: 20px auto;
    width: 400px;
    height: 200px;
    border: 1px dashed #666;
  }

  .demo-keyboard{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
